* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: rgb(18, 18, 18);
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

main {
  padding-top: 3rem;
}

img {
  max-width: min(100%, 360px);
}

.static {
  position: static;
  height: 5rem;
}

#content {
  white-space: normal;
}

pre {
  max-width: 100vw;
  overflow: scroll;
  padding: 1rem !important;
}

pre code pre code span {
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: #0288d1;
}

html, body {
  height: 100vh;
}

.col {
  flex-direction: column;
}